.button {
	display: block;
	font-family: "Poppins", sans-serif;
	padding: 0.4rem 1rem;
	color: $blue-dark;
	background-color: white;
	text-decoration: none;
	border-right: 1rem;
	margin-right: 0.4rem;
	border-radius: 2rem;
	border: none;
	width: max-content;
	transition: 0.1s all linear;
	svg {
		margin-right: 0.4rem;
	}
	&:hover {
		background-color: $orange;
		color: white;
		cursor: pointer;
	}
}
