.category {
	scroll-margin-top: 5rem;
	&-header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 1rem 0;
		p {
			width: 100%;
			margin-bottom: 0;
		}
		&--is-edited {
			margin-top: 1rem;
			margin-bottom: 1rem;
			padding: 0;
			width: 60%;
			.table {
				&-header {
					th {
						&.has_images,
						&.save {
							text-align: center;
						}
					}
				}
				&-body {
					input {
						border-bottom: 1px solid $gray;
					}
					.name {
						input {
							width: 10rem;
							font-size: 1.1rem;
						}
					}
					.description {
						input {
							width: 100%;
						}
					}
					input[type="checkbox"],
					.button {
						display: block;
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}

		&-heading {
			display: block;
			margin: 0 2rem 0 0;
		}
		.button {
			border: 1px solid transparent;
		}
		&-button {
			&--add-item {
				border-color: $green !important;
				&:hover {
					background-color: $green;
				}
			}
			&--edit-category {
				border-color: $yellow !important;
				&:hover {
					background-color: $yellow;
				}
			}
			&--delete-category {
				border-color: $red !important;
				&:hover {
					background-color: $red;
				}
			}
			&--save-category {
				height: 1.6rem !important;
				width: 1.6rem !important;
				padding: 0;
				border-radius: 1.6rem;
				border-color: $green !important;
				svg {
					margin: 0;
				}
				&:hover {
					background-color: $green;
					svg {
						color: white;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.category {
		&-header {
			flex-direction: column;
			align-items: flex-start;
			&-heading {
				margin: 0;
				margin-bottom: 0.4rem;
			}
			.button {
				margin: 0;
				margin-bottom: 0.4rem;
			}
		}
	}
}