.table {
	width: 100%;
	height: 100%;
	border-spacing: 0;
	@include center();
	border-collapse: separate;
	@include shadow();
	&-container {
		border-radius: 1.6rem;
		overflow: hidden;
		margin-bottom: 3rem;
	}
	&-header {
		color: white;
		tr {
			@include gradient($orange, $pink);
			min-height: 0.4rem;
			th {
				text-align: left;
				padding: 0.3rem 1rem 0.5rem;
				svg {
					margin-right: 0.4rem;
				}
			}
		}
	}
	&-body {
		border-radius: 1.6rem;
		&-row {
			&--is-edited {
				td {
					background-color: $gray;
				}
			}
		}
		tr {
			background-color: white;
			@include transition-short();
			td {
				padding: 0.6rem 0.8rem;
				vertical-align: middle;
				border-top: 2px solid $gray;
			}
			&:first-child {
				td {
					border-top: none;
				}
			}
		}
	}

	&.restauranttable {
		tbody {
			tr {
				td {
					&.payments {
						span {
							margin-right: 0.4rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.ordertable {
		&-header {
			tr {
				th {
					svg {
						display: block;
						margin: 0 auto 0.4rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.table {
		display: block;
		max-width: -moz-fit-content;
		max-width: fit-content;
		overflow-x: auto;
		white-space: nowrap;
		width: 100%;
	}
	.itemstable {
		overflow-x: auto !important;
	}
}
