.page-items {
	&-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		&-link {
			display: inline-block;
			padding: 0.4rem 1rem;
			color: $blue-dark;
			background-color: white;
			text-decoration: none;
			border-radius: 2rem;
			margin-right: 0.4rem;
			margin-top: 0.2rem;
			@include transition-short();
			&:hover {
				background-color: $orange;
				color: white;
			}
		}
	}
	&-button {
		&--add-category {
			margin-top: 0.2rem;
			border: 1px solid transparent;
			border-color: $green !important;
			&:hover {
				background-color: $green;
			}
		}
	}
}
