$yellow: #f1bf15;
$yellow-light: #FFFDF6;
$pink: #f8507d;
$pink-light: #ffced2;
$pink-extralight: #FEEEF2;
$orange: #f5864a;
$green: #2ecc71;
$red: #dc4346;
$gray: #ecf0f1;
$gray-darker: #d6d6d6;
$blue-dark: #34495e;
$blue-extradark: #151D26;

:export {
	YELLOW: $yellow;
	PINK: $pink;
	GREEN: $green;
}
