:root {
	color: $blue-dark !important;
}

html,
body {
	margin: 0 !important;
	padding: 0 !important;
	background-color: $gray;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	width: 100vw;
}

.container {
	width: 90%;
}
