@import "_colors";
@import "_root";
@import "_mixins";
@import "layout";
@import "components/input";
@import "components/table";
@import "components/button";
@import "components/kpi";
@import "components/menu";
@import "components/icons";
@import "components/charts";
@import "components/category";
@import "components/product";
@import "pages/login";
@import "pages/_page";
@import "pages/items";
@import "pages/restaurant";
@import "pages/orders";
